@media (max-width: 1024px) and (min-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "aside header header header header header "
      "aside section section section section section "
      "aside design design design design design"
      "aside footer footer footer footer footer";
  }
  .container {
    margin-right: 30px;
  }
  header,
  .item-2,
  .item-4,
  .item-5 {
    max-width: 1024px;
    padding: unset;
    margin: unset;
  }
  .head-button {
    padding: 10px 15px;
    font-size: 10px;
  }
  .header-img {
    max-width: 30px;
  }
  .mini-text {
    font-size: 10px;
  }
  .aside-nav,
  .aside-p {
    display: none;
  }
  .aside-pic {
    max-width: 60px;
    padding: 0;
    margin-left: 30px;
  }
  .list-pic {
    margin-top: 5px;
    max-width: 30px;
  }
  .nav-logos {
    max-width: 25px;
    width: 100%;
    margin-top: 10px;
  }
  .nav-div {
    margin-top: 0px;
  }
  h5 {
    font-size: 8px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .symb {
    max-width: 60px;
    margin: auto;
    padding-top: 20px;
  }
  .aside-nav,
  .aside-p {
    display: none;
  }
  .logos {
    display: none;
  }
  .footer-listing {
    font-size: 8px;
  }
  .foo-list {
    gap: 10px;
  }
  .academy,
  .smart {
    font-size: 8px;
  }
  .icons-2 {
    max-width: 12px;
    gap: 5px;
  }
}
