@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "aside header header header header header "
    "aside section section section section section "
    ". design design design design design"
    " . footer footer footer footer footer";
}
.item-1 {
  grid-area: header;
}
.item-2 {
  grid-area: section;
}
.item-3 {
  grid-area: aside;
}
.item-4 {
  grid-area: design;
}
.item-5 {
  grid-area: footer;
}
/* header styles */
header {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  justify-items: center;
  align-items: center;
  height: 60px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header-img {
  max-width: 40px;
}
.search {
  display: flex;
  gap: 20px;
  align-items: center;
}
.symbol {
  gap: 90px;
  background-color: #f8f8f8;
}
.header-text {
  font-size: 13px;
  color: #111111;
  opacity: 50%;
}
.header-1 {
  max-width: 20px;
}
.mini-text {
  font-size: 12px;
  color: #ff2288;
}
.head-button {
  border: unset;
  background-color: #ff2288;
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  font-size: x-small;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* aside styles */
aside {
  max-width: 100%;
  background-color: #222222;
  color: white;
  position: fixed;
}
.logos {
  max-width: 30px;
}
.first-logo {
  max-width: 100px;
}
.symb {
  max-height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  gap: 15px;
  margin-top: 10px;
}
.nav-logos {
  max-width: 20px;
}
.nav-div {
  max-height: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  gap: 20px;
  border-radius: 15px;
}
.navb {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.aside-nav {
  color: white;
  text-decoration: none;
}
::marker {
  color: #222222;
}
.aside-pic {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  margin: 15px;
  margin-top: 15px;
}
.aside-div1 {
  width: 100%;
  margin-bottom: 80px;
}
h5 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.aside-p {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* first section styles */
.li-1:hover {
  background-color: #f2f2f2;
}
.li-1 {
  border-radius: 10px;
}

.list-pic {
  max-width: 30px;
  width: 100%;
}
.item-2 {
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
}
.sec-header {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.sec-ul {
  list-style: none;
  display: flex;
  font-size: 13px;
  gap: 30px;
}
.sec-ul li {
  color: #222222;
  padding: 10px;
}
.sec-butt {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  padding: 8px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
  border-width: 0.5px;
  font-size: 13px;
  font-weight: 100;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.first-li {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.section-container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  row-gap: 40px;
  padding-top: 30px;
  font-size: 15px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.container-box {
  max-width: 215px;
  width: 100%;
  justify-items: center;
}
.sec-1 {
  display: flex;
  text-decoration-line: none;
  color: #222222;
  background-color: #f2f2f2;
}
.paragraph-1 {
  margin: auto;
  color: #222222;
}
.load-butt {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: none;
  border-radius: 6px;
  padding: 10px 70px;
}
a {
  text-decoration: none;
}
.hover-img {
  position: absolute;
  background-color: white;
  width: 30px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  opacity: 0%;
}
.hover-2 {
  position: absolute;
  background-color: white;
  width: 30px;
  padding: 5px;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 10px;
  opacity: 0%;
}
.container-box:hover .hover-2 {
  opacity: 100%;
}
.container-box:hover .hover-img {
  opacity: 100%;
}
/* third section styles */
.item-4 {
  max-width: 900px;
  margin: auto;
  padding-top: 60px;
}
.designers-parent {
  width: 100%;
  display: flex;
  margin: auto;
  gap: 22px;
}
.designers-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.designers {
  max-width: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
  padding: 5px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.desig-butt {
  color: #c0bebe;
  font-size: 9px;
  background-color: white;
  border: none;
}
.foll-butt {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-bottom: 0px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.cities {
  font-size: 11px;
  color: #222222;
  opacity: 60%;
}
/* footer styles */
.footer-listing {
  display: flex;
  max-width: 900px;
  gap: 100px;
  margin: auto;
  padding-top: 100px;
  font-size: 14px;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.foo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-bottom: 30px;
}
li {
  color: #222222;
}
.frs {
  padding-bottom: 20px;
}
.icons {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.icons-2 {
  max-width: 20px;
  display: flex;
  gap: 10px;
}
.smart {
  display: flex;
  gap: 5px;
  font-weight: bolder;
}
.academy {
  font-weight: 100;
  color: #222222;
}
.following {
  background-color: #e7e7e7;
}
